<div class="row">
  <div class="col">
    <% if @articles.published.any? %>
      <% @articles.published.each do |article| %>
        <div class="col-12">
          <%= render 'tile', article: article %>
        </div>
      <% end %>
    <% else %>
      <div class="col-12">
        <p class="lead text-center">Žiadne novinky.</p>
      </div>
    <% end %>
  </div>
</div>
