<div class="row">
  <div class="col">
    <p class="lead float-left">
      Novinky
    </p>
    <% if selected_season && user_signed_in? %>
      <div class="float-right">
        <%= link_to 'Pridať novinku', new_article_path, class: 'btn btn-sm btn-success my-1' %>
      </div>
    <% end %>
  </div>
</div>

<hr>
<% if @articles.any? %>
  <div class="row">
    <% @articles.each do |article| %>
      <div class="col-lg-6">
        <%= render 'tile', article: article, expand_content: false %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        <%= will_paginate(
                @articles.published,
                :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'pagination-switcher') %>
      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadne novinky.</p>
    </div>
  </div>
<% end %>
