<div class="row">
  <div class="col-md-3 hidden-sm-down"></div>
  <div class="col">
    <h2>Nový článok</h2>
    <hr>
    <%= render 'form', article: @article %>
  </div>
  <div class="col-md-3 hidden-sm-down"></div>
</div>
