<div class="row">
  <div class="col">
    <p class="lead float-left">Všetky kolá</p>
    <div class="float-right">
      <%= link_to 'Nové kolo', new_round_path, class: 'btn btn-sm btn-success my-1' %>
    </div>
  </div>
</div>

<hr>
<% if @rounds.any? %>
  <div class="table-responsive my-1">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Označenie</th>
        </tr>
      </thead>
      <tbody>
        <% @rounds.each do |round| %>
          <tr>
            <td><%= round.position %></td>
            <td><%= link_to round.full_label, round_path(round), class: 'quiet-link' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">V tejto sezóne ešte nebolo vypísané žiadne kolo.</p>
    </div>
  </div>
<% end %>
