<div class="row">
  <div class="col-md-3 hidden-sm-down"></div>
  <div class="col">
    <h2>Zmena hesla</h2>
    <hr>
    <%= render 'form', user: @user %>
  </div>
  <div class="col-md-3 hidden-sm-down"></div>
</div>
