<div class="text-center bg-dark py-2 font-weight-bold">
  <u>
    <%= link_to "NOVÝ spôsob bodovania!",
                "#{pages_about_path}#pointing-system",
                class: 'quiet-link', target: :_blank %>
  </u>
</div>
