<div class="input-group my-2">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <%= fa_icon 'search' %>
    </div>
  </div>
  <%= content_tag :input, '', type: :search,
                  autocomplete: :off, class: 'form-control js-filter max-width-340',
                  data: { target: target_table_body }, placeholder: placeholder %>
</div>
