<div class="alert alert-danger alert-dismissable fade show mb-2" id="special-instructions" role="alert">
  <h4 class="alert-heading">Hygienické opatrenia</h4>
  <hr>
  <p>
    <strong>
      Žiadame každého, kto je prítomný na kurtoch, alebo v športovom klube, aby v súvislosti
      s aktuálnou situáciou dodržoval nasledovné bezpečnostné hygienické opatrenia.
    </strong>
    <ul>
      <li>
        <strong>Nepodávajte si ruky</strong>, a to ani po zápase, ani pri stretnutí/rozlúčení
      </li>
      <li>
        Dodržujte všetky
        <%= link_to "pokyny Úradu Verejného Zdravotníctva",
                    "http://www.uvzsr.sk/docs/info/covid19/Usmernenie_hlavneho_hygienika_SR_sportoviska.pdf",
                    target: :_blank %>
      </li>
      <li>Letuška, nebozkávaj prosím každého koho stretneš O:-)</li>
    </ul>
  </p>

  <div class="custom-control custom-checkbox">
    <%= check_box_tag :accepted, "accepted", false, class: 'custom-control-input' %>
    <%= label_tag :accepted, 'Rozumiem a súhlasím', class: 'custom-control-label' %>
  </div>

  <hr>
  <p class="mb-0 text-center">
    <small><i>(táto stránka si uloží do Vášho browsera cookie)</i></small>
  </p>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('#accepted').change(function() {
      if (this.checked) {
        Cookies.set('special_instructions_accepted', 'true', { expires: 7 })
        $("#special-instructions").alert("close");
      }
    });
  });
</script>
