<div class="row">
  <div class="col-md-3 hidden-sm-down"></div>
  <div class="col">
    <h1 class="display-4 text-center">Majstrovstvá Topoľčian v tenise</h1>

    <h3 class="text-center pt-5">
      Súťaž je určená pre každého, kto si chce zahrať tenis s vyrovnanými súpermi počas celej sezóny,
      na ktorýchkoľvek kurtoch v Topoľčanoch.
    </h3>

    <hr>
    <h4 class="text-center pt-5">Princíp súťaže</h4>
    <p class="text-justify">
      Základná časť majstrovstiev pozostáva z minimálne deviatich hracích kol, pričom každé kolo trvá dva týždne.
      Jednotlivé kolá základnej časti súťaže sa žrebujú <a href="#swiss-tossing-system">švajčiarskym systémom</a> (vysvetlené nižšie),
      ktorý zabezpečí, že väčšinu zápasov súťaže hrajú lepší hráči s lepšími, strední so strednými a slabší so slabšími.
      Na odohratie každého zápasu v kole majú hráči vždy dva týždne, potom začína ďalšie kolo súťaže.
    </p>
    <p class="text-justify">
      Každý hráč odohrá v každom kole jeden zápas, a to v čase, ktorý obom hráčom vyhovuje a na ktorom
      sa sami telefonicky dohodnú.
    </p>
    <p class="text-justify">
      Zápas sa hrá na dva víťazné sety, pri skóre 1:1 na sety je tretí set supertiebreak do 10 (min. rozdiel musí byť 2 body).
      Hráči sa pred zápasom môžu dohodnúť, že prípadný tretí set odohrajú štandardným spôsobom.
    </p>
    <p class="text-justify">
      Hráč napísaný v zápase ako prvý vyberie, zarezervuje a zaplatí kurt, na ktorom sa zápas odohrá.
      Hráč napísaný ako druhý prinesie na zápas <strong>nové</strong> lopty. Každý hráč bude približne rovnaký počet
      krát napísaný ako prvý a druhý. Oficiálnymi loptami súťaže sú DUNLOP FORT, WILSON AO, HEAD ATP.
      <strong>Iné lopty možno použiť len so súhlasom súpera</strong>.
    </p>
    <p class="text-justify">
      Každý hráč je na začiatku sezóny zaradený do jednej z piatich kategórií, no počas základnej časti súťaže
      sa v zápasoch stretávajú hráči všetkých kategórií, podľa spomenutého <a href="#swiss-tossing-system">švajčiarského
      systému žrebovania</a>.
      Po skončení základnej časti súťaže bude nasledovať <strong>finálový víkend</strong>,
      počas ktorého sa stretnú dvaja najvyššie postavení hráči v každej kategórii.
    </p>
    <p>Kategórie sú nasledovné</p>
    <p>
      <ul>
        <li>
          Neregistrovaní (alebo registrovaní vo veku 35 rokov a viac)
        </li>
        <li>
          60 roční a starší
        </li>
        <li>
          50 roční a starší
        </li>
        <li>
          Registrovaní a bývalí registrovaní
        </li>
        <li>
          Ženy
        </li>
      </ul>
    </p>

    <h4 class="text-center pt-5" id="pointing-system">Spôsob bodovania</h4>
    <p class="text-justify">
      V každom zápase sa hrá o 3 body. V prípade výsledku 2:0 na sety sa body rozdelujú v pomere 3:0 v prospech víťaza.
      V prípade výsledku 2:1 sa body rozdelujú v pomere 2:1 v prospech víťaza.
    </p>
    <p class="text-justify">
      Hráči sú priebežne zoraďovaní do rebríčka, ktorý sa mení každým odohratým zápasom. Zoradenie hráčov v rámci aktuálne
      zvoleného kola je dané <strong>dvomi hlavnými kritériami</strong> a to je: 1) počet bodov získaných do tohto kola (vrátane)
      a 2) súčet bodov hráčových súperov po dané kolo (vrátane).
    </p>

    <h4 class="text-center pt-5" id="swiss-tossing-system">Švajčiarsky systém žrebovania</h4>
    <p class="text-justify">
      Tento systém žrebovania je založený na tom, že v každom kole sa vyžrebujú súperi,
      ktorí majú aktuálne rovnaký alebo približne rovnaký počet bodov.
    </p>
    <p class="text-justify">
      Žrebovanie prvého kola - všetci hráči majú pred vyžrebovaním prvého kola 0 bodov.
      Počítač vyžrebuje dvojice súperov, pričom v tomto prvom kole sa stretnú aj
      hráči rôznych herných úrovní.
    </p>
    <p class="text-justify">
      Žrebovanie druhého kola - hráči majú aktuálne 0 až 3 body podľa výsledku svojho zápasu v 1. kole.
      Počítač vyžrebuje hráčov tak, aby 0-bodoví hrali s 0-bodovými, 1-bodoví s 1-bodovými, 2-bodoví s 2-bodovými a
      3-bodoví s 3-bodovými. Algoritmus žrebovania takto funguje v každom nasledujúcom kole, pričom opakovaný zápas
      hráčov, ktorí sa v sezóne už stretli je vylúčený. Niekedy sa teda môže stať, že hráčovi už nevychádza rovnako
      bodovaný hráč, no aj tak mu bude pridelený hráč blízkej bodovej úrovne.
    </p>
    <hr>
    <p class="text-justify">
      <i>
        Organizátor súťaže môže pre zatraktívnenie, alebo zefektívnenie súťaže urobiť výnimky v žrebovaní, alebo
        priraďovaní hráčov na zápasy, ak si to situácia z nejakých dôvodov vyžaduje. Prvé a druhé kolo súťaže bude žrebované
        ťahaním lístočkov so zapojením všetkých prítomných hráčov.
      </i>
    </p>

    <h4 class="text-center pt-5">Viac info a prihlásenie</h4>
    <p class="text-center">
      Ondrej Babala ● <strong><%= link_to_manager_phone %></strong><br>
      Milan Kyseľ<br>
      Andrej Golej<br>
      <%= link_to root_url, root_url %><br>
      <%= link_to 'matotenis@yahoo.com', 'mailto:matotenis@yahoo.com' %>
    </p>
  </div>
  <div class="col-md-3 hidden-sm-down"></div>
</div>
