<h1 class="display-4 text-center">Majstrovstvá Topoľčian v tenise</h1>
<hr>
<h4 class="text-center">
  Súťaž je určená pre každého, kto si chce zahrať tenis s vyrovnanými súpermi počas celej sezóny,
  na ktorýchkoľvek kurtoch v Topoľčanoch
</h4>
<hr>
<p class="text-justify">
  Zápasy sa budú hrať raz za 2 týždne, v čase, ktorý Vám a Vášmu súperovi vyhovuje a na ktorom
  sa sami telefonicky dohodnete.
</p>
<p class="text-justify">
  Hrá sa na 2 víťazné sety, pri skóre 1:1 na sety je 3.set supertiebreak do 10.
  Hráči sa pred zápasom môžu dohodnúť, že 3.set odohrajú klasickým spôsobom.
</p>
<p class="text-justify">
  Základná časť majstrovstiev bude žrebovaná <u>švajčiarskym systémom</u> na 9 zápasov (viď vysvetlené nižšie),
  ktorý zabezpečí, že väčšinu súťaže hrajú lepší hráči s lepšími, strední so strednými a slabší so slabšími.
  Na odohranie každého zápasu majú hráči vždy 2 týždne.
</p>
<p class="text-justify">
  Základná časť súťaže začína vyžrebovaním prvého kola 3. mája 2019 a končí deviatym kolom 8. septembra 2019.
</p>
<p class="text-justify">
  Hráč napísaný ako prvý si vyberie na ktorých kurtoch sa bude hrať a zaplatí kurt.
  Hráč napísaný ako druhý donesie na zápas nové loptičky. Každý hráč bude približne rovnaký počet
  zápasov napísaný ako prvý a druhý. Oficiálnymi loptami súťaže sú DUNLOP FORT, WILSON AO, HEAD ATP. Iné lopty možno použiť len so súhlasom súpera.
</p>
<p class="text-justify">
  Po skončení základnej časti súťaže bude nasledovať finálový víkend 14.-15. septembra,
  kedy sa stretnú 2 najlepší hráči vo finále v 4.kategóriách.
  <ul>
    <li>
      starší ako 60 rokov
    </li>
    <li>
      starší ako 50 rokov
    </li>
    <li>
      neregistrovaní hráči (alebo registrovaní po 35 roku života)
    </li>
    <li>
      registrovaní hráči
    </li>
  </ul>
</p>

<hr>
<h4 class="text-center">Švajčiarsky systém žrebovania</h4>
<p class="text-justify">
  Tento systém žrebovania je založený na tom, že v každom kole sa vyžrebujú súperi,
  ktorí majú rovnaký alebo približne rovnaký počet víťazstiev - bodov.
</p>
<p class="text-justify">
  Žrebovanie prvého kola - všetci hráči majú pred vyžrebovaním prvého kola 0 víťazstiev.
  Počítač vyžrebuje dvojice súperov, aj vzhľadom na nasadenie. V tomto prvom kole sa stretnú aj
  hráči rôznych herných úrovní.
</p>
<p class="text-justify">
  Žrebovanie druhého kola - polovica hráčov po prvom kole má jedno víťazstvo - 1 bod a polovica
  hráčov má nula víťazstiev - 0 bodov. Počítač vyžrebuje hráčov tak, aby 1-bodoví hrali
  s 1-bodovými a 0-bodoví s 0-bodovými.
</p>
<p class="text-justify">
  Žrebovanie tretieho kola - hráči po druhom kole majú 0 bodov, 1 bod a 2 body.
  Počítač vyžrebuje hráčov tak, aby 2-bodoví hrali s 2-bodovými, 1-bodoví hrali s 1-bodovými
  a 0-bodoví s 0-bodovými. Inak povedané, lepší hráči hrajú s lepšími, strední so strednými a slabší so slabšími.
</p>
<p class="text-justify">
  ... A tak ďalej. Po 9. kole bude vyhodnotenie súťaže, kde budú hráči zoradení podľa počtu bodov.
  Pomocným kritériom pri rovnosti bodov bude súčet všetkých bodov súperov.
</p>
<hr>
<h4>Viac info a prihlásenie:</h4>
<p class="text-center">
  Ondrej Babala ● <strong><%= link_to_manager_phone %></strong><br>
  Milan Kyseľ<br>
  Andrej Golej<br>
  <%= link_to root_url, root_url %><br>
  <%= link_to 'matotenis@yahoo.com', 'mailto:matotenis@yahoo.com' %>
</p>
