<div class="row">
  <div class="col-md-3 hidden-sm-down"></div>
  <div class="col">
    <h2>Nový hráč</h2>
    <hr>
    <%= render 'form', player: @player %>
  </div>
  <div class="col-md-3 hidden-sm-down"></div>
</div>
