<div class="alert alert-danger alert-dismissable fade show mb-2" id="special-instructions" role="alert">
  <h4 class="alert-heading">Hygienické opatrenia</h4>
  <hr>
  <p>
    <strong>
      Žiadame každého, kto je prítomný na kurtoch, alebo v klube, aby dodržoval nasledovné
      bezpečnostné hygienické opatrenia.
    </strong>
    <ul>
      <li>Nepodávajte si ruky a to ani po zápase, ani pri stretnutí</li>
      <li>Nechytajte si tvár počas zápasu a po ňom, kým si neumyjete ruky</li>
      <li>Ruky si umyte, alebo vydezinfikujte hneď po zápase</li>
      <li>
        V priestoroch klubu, aj na kurtoch noste rúško (okrem hráčov počas zápasu) a nepribližujte
        sa k sebe bližšie ako na 2 metre
      </li>
    </ul>
  </p>

  <ul>
    <li>
      <div class="custom-control custom-checkbox pl-2">
        <%= check_box_tag :accepted, "accepted", false, class: 'custom-control-input' %>
        <%= label_tag :accepted, 'Rozumiem a súhlasím', class: 'custom-control-label' %>
      </div>
    </li>
  </ul>

  <hr>
  <p class="mb-0 text-center">
    <small><i>(táto stránka si uloží do Vášho browsera cookie)</i></small>
  </p>
</div>

<script type="text/javascript">
  $(document).on('turbolinks:load', function() {
    $('#accepted').change(function() {
      if (this.checked) {
        <% cookies[:special_instructions_accepted] = { value: "true", expires: Time.now + 7.days } %>
        $("#special-instructions").alert("close");
      }
    });
  });
</script>
