<% if matches.present? && matches.any? %>
  <% if @last_update_time.present? %>
    <i><small>(aktualizácia: <%= I18n.localize(@last_update_time, format: :date_with_time) %>)</small></i>
  <% end %>
  <div class="table-responsive my-1">
    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th class="phone-nr-width" scope="col">Hráč 1 - kurt</th>
          <th class="phone-nr-width" scope="col">Hráč 2 - lopty</th>
          <th scope="col">Poznámka</th>
          <th scope="col">Výsledok</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% matches.each do |match| %>
          <% next if !user_signed_in? && (match.player1.dummy? || match.player2.dummy?) %>
          <%= match_table_row(match) %>
        <% end %>
      </tbody>
    </table>
  </div>
  <p class="text-center">
    <i>
      <small>
        <span class="bg-green text-nowrap px-2 py-1">odohratý zápas</span>
        <span class="bg-yellow text-nowrap px-2 py-1">odohratý dnes, alebo včera</span>
      </small>
    </i>
  </p>
<% else %>
  <div class="row">
    <div class="col">
      <p class="lead text-center">Žiadne zápasy.</p>
    </div>
  </div>
<% end %>
