<div class="row">
  <div class="col">
    <p class="lead float-left"><%= "Zoznam zápasov, #{@round.full_label}" %></p>
    <div class="form-group float-right">
      <%= select_tag :round_id, options_from_collection_for_select(@season.rounds.default, "id", "full_label", @round.id), class: 'form-control reloading-page', data: { url: request.path, param_name: 'round' } %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <ul class="nav nav-tabs" id="tab-matches" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#finished" role="tab" aria-controls="finished" aria-selected="true">Odohraté</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#planned" role="tab" aria-controls="planned" aria-selected="false">Naplánované</a>
      </li>
    </ul>
    <div class="tab-content" id="tab-matches-content">
      <div class="tab-pane fade show active" id="finished" role="tabpanel" aria-labelledby="home-tab">
        <%= render 'table', matches: @finished_matches %>
      </div>
      <div class="tab-pane fade" id="planned" role="tabpanel" aria-labelledby="profile-tab">
        <%= render 'table', matches: @planned_matches %>
      </div>
    </div>
  </div>
</div>
