//$clay: rgb(202, 144, 122);
//$clay: #ecb6a1;
//$clay: #f9ccac;
//$eggplant: #470761;
$dark: #252525;
$gray: #eceaea;
//$red: #9f3f3f;
//$blue: #8ab2f1;

//$mainbg: #fefff3;
//$navbg: #993300;

$mainbg: #F1F3F4;
$navbg: #C23B22;

$greenbg: #bcf7c5;
$greenbg_darken: darken($greenbg, 6);
$yellowbg: #f5e1a6;
$yellowbg_darken: darken($yellowbg, 6);
$smokebg: #e4e9f3;
$dark_gray: #7b7878;
