
html, body {
  overflow-x: hidden;
}


body {
  background-color: $mainbg;
  font-family: 'Jura', sans-serif;
  font-size: 1.4rem;
}


//
// Navbar

.navbar {
  background-color: $navbg;
  //background-color: $eggplant;
  color: $gray;

  .navbar-brand {
    font-size: inherit;
  }

  a {
    color: $gray;
  }

  .logo {
    font-family: 'Dancing Script', cursive;
    font-size: 1.7rem;

    strong {
      font-size: 1.2rem;
    }
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $gray;
}

.navbar-dark .navbar-brand {
  color: $gray;
}

.nav-tabs .nav-link {
  color:inherit;
}

.dropdown-menu {
  background-color: darken($navbg, 20);
}

//
// Flash messages

.alert {
  margin-bottom: 0;
}
.hover-wide {
  float: left;
  width: 100%;
}

//
// Footer

.footer {
  background-color: $dark;
  color: $gray;
}
.footer a {
  color: $gray;
}

//
// General

.jumbotron {
  background-color: inherit;
  -webkit-box-shadow: 10px 10px 30px -25px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px -25px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px -25px rgba(0,0,0,0.75);
}

p.lead .bagge-pill-wider {
  padding: 0.7em 1.6em;
  border-radius: 0.3rem;
}

.span-dbl-confirm {
  display: none;
}

a.quiet-link {
  text-decoration: none;
  color: inherit;
}

.pagination-switcher {
  display: inline-block;
}

.border-top-thick {
  border-top: 4px solid darken($navbg, 20);
}

.eq-height-container {
  display: flex;
  width: 100%;
}
.eq-height-col {
  flex: 1;
}

.center-image {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

ol {
  padding-inline-start: 20px;
}

.center-panel {
  max-width: 1024px;
  margin: 0 auto;
}

//
// Tables

.table .thead-dark th {
  background-color: $navbg;
  //background-color: $eggplant;
  color: $gray;
}

.table {
  thead th {
    border-top: none;
    border-bottom: none;
  }
  td {
    border-top: 1px solid $navbg;
  }
}

.phone-nr-width {
  min-width: 135px;
}

//
// Image banner

.img-banner {
  height: 228px;
  width: 100%;
  background-attachment: fixed;
  background-image: url("banner-img2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  //background-size: 100% 192px;
}

//
// Form errors

.field-error {
  border-left: 3px solid red !important;
}

.field_with_errors { display: inline; }

//
// Colors

.bg-dark {
  background-color: #343a40;
  color: $gray;
}

.bg-black {
  background-color: #000000;
  color: $gray;
}

.table-bg-green {
  background-color: $greenbg;
}
.table-bg-darken-green {
  background-color: $greenbg_darken;
}
.table-bg-yellow {
  background-color: $yellowbg;
}
.table-bg-darken-yellow {
  background-color: $yellowbg_darken;
}
.dark-gray {
  color: $dark_gray;
}

.attention-background {
  animation: attention 3s 20;
  -webkit-animation: attention 3s 20;
}
@keyframes attention {
  0% { background: inherit; }
  50% { background: yellow; }
  100% { background: inherit; }
}
@-webkit-keyframes attention {
  0% { background: inherit; }
  50% { background: yellow; }
  100% { background: inherit; }
}

//
// Media queries

@media only screen and (min-width: 768px) {
  .img-banner {
    background-size: contain;
  }

  .narrow {
    width: 500px;
  }

  .max-width-340 {
    max-width: 340px;
  }
}
